:root {
  --container-length: 75rem;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

ul,
ol,
li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

q::after,
q::before {
  content: "";
}

figure {
  margin-block: 0;
  margin-inline: 0;
}

address {
  font-style: normal;
}

input[type="radio"],
input[type="checkbox"],
progress,
button {
  appearance: none;
}

button {
  background-color: transparent;
  cursor: pointer;
}

html,
body {
  width: 100%;
}

body {
  font-size: 16px;
  font-weight: 300;
  font-family: "Open Sans", sans-serif;
  background-color: #ffffff;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main {
  flex: 1 1 auto;
}

[class*="__container"] {
  max-width: var(--container-length);
  margin: 0 auto;
}

/* Header
========= */
.header__inner {
  max-width: 85rem;
  margin: 0 auto;
  padding: 1.625em 0.9375em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  height: 42px;
  width: 42px;
}

.logo__img {
  width: 100%;
}

/* Menu
======= */

.header__menu {
  font-weight: 700;
  letter-spacing: 0.0375em;
}

/* Menu burger
============== */
.menu__burger {
  display: none;
  visibility: hidden;
}

@media screen and (max-width: 991.98px) {
  .header__inner {
    position: relative;
  }

  .menu__burger {
    display: block;
    visibility: visible;
    position: relative;
    z-index: 20;
    width: 40px;
    height: 5px;
    background-color: #1b1d1c;
  }

  .menu__burger::after,
  .menu__burger::before {
    content: "";

    display: inline-block;
    position: absolute;
    width: inherit;
    height: 5px;
    top: 0;
    left: 0;

    background-color: inherit;
    transition: transform 0.2s linear;
  }
  .menu__burger::before {
    transform: translateY(-10px);
  }
  .menu__burger::after {
    transform: translateY(10px);
  }
  .menu__burger:checked {
    height: 0;
  }
  .menu__burger:checked ~ .header__menu {
    transform: translateY(100%);
  }
  .menu__burger:checked::after {
    transform: rotate(45deg);
  }
  .menu__burger:checked::before {
    transform: rotate(-45deg);
  }
}

/* Menu
======= */
.menu__list {
  display: flex;
  justify-content: space-between;
  gap: 3.125em;
}

.menu__item {
  position: relative;
}

.menu__item::after {
  content: "";
  display: block;
  width: 0;
  border-top: 0.125em solid #fcbb08;
  position: absolute;

  left: 50%;
  top: 100%;
  transform: translate(-50%, 0.5625em);
  transition: width 0.2s linear;
}

.menu__item:hover::after {
  width: 3.125em;
}

.menu__link {
  font-family: "Raleway", sans-serif;
  font-size: 0.75em;
  line-height: 1.15;
  color: #373a39;

  text-transform: uppercase;
}

.menu__link:hover {
  transition: color 0.1s linear;
  color: #1b1d1c;
}

@media screen and (max-width: 991.98px) {
  .menu {
    position: absolute;
    transition: transform 0.5s linear;
    z-index: 10;
    width: 100%;
  }

  .header__menu {
    top: -252px;
    left: 0;
  }

  .menu__list {
    flex-direction: column;
    gap: 0;
    background-color: rgba(255, 255, 255, 0.7);
  }
  .menu__item {
    width: 100%;
    text-align: center;
    padding: 10px 0;
  }
  .menu__item:hover {
    background-color: rgba(138, 138, 138, 0.7);
  }

  .menu__item::after {
    display: none;
  }
}

/* Header content
================= */
.header__content {
  background-image: linear-gradient(180deg, rgba(255, 255, 255, 0.15) 0%, rgba(0, 0, 0, 0.5) 100%),
    url(../images/others/Header-bg.jpg);
  background-position: center bottom;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}
.header__content::after {
  content: "";

  position: absolute;
  top: 0;
  height: 8%;
  width: 100%;
  background: linear-gradient(to top, #f4edeb, #fff);
}

.header__content-inner {
  padding: 13.4375em 0 3.8125em;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
}

.header__content-title {
  font-size: 6.25em;
  line-height: 1.22;
  color: #fff;
  margin-bottom: 0.19em;
  text-transform: uppercase;
}

.header__content-description {
  font-size: 1em;
  line-height: 1.25;
  color: #fcbb08;
  letter-spacing: 0.17em;
  text-transform: uppercase;
  margin-bottom: 11.25em;
}

.header__content-decor {
  width: 26px;
  height: 43px;

  border: 2px solid #fff;
  border-radius: 13px;
  position: relative;
}

.header__content-decor::after {
  content: "";
  display: block;
  height: 6px;
  width: 6px;
  border-radius: 50%;

  background-color: #fff;
  position: absolute;
  left: 50%;
  top: 0;
  transform: translate(-50%, 6px);
  animation: scroll 4s infinite linear;
}
@media screen and (max-width: 479.98px) {
  .header__content {
    font-size: 0.45em;
  }
}

@media screen and (max-width: 991.98px) {
  .header__content-decor {
    display: none;
  }
}

@keyframes scroll {
  from {
    top: 0;
  }
  25% {
    top: 0;
  }
  50% {
    top: 21px;
  }
  75% {
    top: 21px;
  }
  to {
    top: 0;
  }
}

/* Title-decor
============== */
.title-decor {
  font-size: 60px;
  line-height: 1.25;
  font-family: "Montserrat", sans-serif;
  color: #242121;
  font-weight: 700;
  letter-spacing: -1.65px;
  position: relative;
}

@media screen and (min-width: 992px) {
  .title-decor::after {
    content: "";
    width: 60px;
    position: absolute;
    left: 0;
    top: 100%;
    border: 2px solid #fcbb08;
    transform: translateY(14px);
  }

  .title-decor-cliped {
    white-space: nowrap;
    text-overflow: clip;
    overflow-x: hidden;

    height: 93px;
  }
  .title-decor-cliped.title-decor::after {
    top: 75px;
  }

  .our-expertise__title {
    width: 394px;
  }

  .portfolio__title {
    width: 252px;
  }

  .our-team__title {
    width: 285px;
  }

  .pricing-plans__title {
    width: 372px;
  }

  .contact__title {
    width: 360px;
  }
}

/* Text
======= */
.text {
  max-width: 770px;
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  font-size: 14px;
  line-height: 1.7;
  color: #373a39;
}

@media screen and (max-width: 991.98px) {
  .title-decor {
    text-align: center;
  }

  .title-decor {
    font-size: 48px;
  }

  .text {
    max-width: none;
  }
}
@media screen and (max-width: 479.98px) {
  .title-decor {
    font-size: 32px;
  }
}

/* About us
========= */
.about-us {
  background-color: #f6f8fa;
}

.about-us__container {
  padding: 8.9rem 0.95rem 10rem;
  display: flex;
  justify-content: space-between;
  gap: 30px;
}

.about-us__title {
  align-self: flex-start;
  font-size: 3em;
  line-height: 1.55;
  white-space: nowrap;
}

.about-us__paragraph:first-child {
  margin-bottom: 25px;
}

@media screen and (max-width: 991.98px) {
  .about-us {
    font-size: 0.8em;
  }
  .about-us__container {
    padding: 3.5rem 0.95rem 5rem;
    flex-direction: column;
    text-align: center;
  }

  .about-us__title {
    align-self: stretch;
    margin-bottom: 0.75rem;
  }
}

@media screen and (max-width: 767.98px) {
  .about-us__container {
    gap: 0;
    padding: 2.25rem 0.95rem 2.5rem;
  }
}

@media screen and (max-width: 575.98px) {
  .about-us__container {
    padding: 1.125rem 0.625rem 1.25rem;
  }

  .about-us__title {
    font-size: 2em;
  }
}

/* Our-expertise
================ */
.our-expertise__container {
  padding: 8.75rem 0.95rem 10rem;
}

.our-expertise__title {
  margin-bottom: 5.625rem;
}
@media screen and (max-width: 991.98px) {
  .our-expertise__container {
    padding: 4rem 0.935rem 5rem;
  }
}
@media screen and (max-width: 767.98px) {
  .our-expertise__title {
    margin-bottom: 2.5rem;
  }
}
@media screen and (max-width: 575.98px) {
  .our-expertise__container {
    padding: 2rem 0.935rem 2.5rem;
  }
  .our-expertise__title {
    margin-bottom: 2rem;
  }
}

.skills {
  display: flex;
  justify-content: space-between;
  gap: 30px;
  margin-bottom: 6.875rem;
}

.skills-progress {
  padding-top: 0.5em;
  flex: 1 0 370px;
  min-width: 250px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.skills__item {
  display: flex;
  flex-direction: column;
}

.skills-progress__line {
  height: 2px;
  width: 100%;
}
.skills-progress__line[value]::-webkit-progress-value {
  background-color: #1d1d1d;
}
.skills-progress__line[max]::-webkit-progress-bar {
  background-color: #f0f0f0;
}

.skills-progress__info {
  display: flex;
  justify-content: space-between;

  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 11px;
  line-height: 1.8;
  letter-spacing: 1px;
  color: #1d1d1d;
}

.skills-text__paragraph:first-child {
  margin-bottom: 15px;
}
@media screen and (max-width: 991.98px) {
  .skills-progress__line {
    height: 10px;
  }
  .skills-progress__line[max]::-webkit-progress-bar,
  .skills-progress__line[value]::-webkit-progress-value {
    border-radius: 5px;
  }
}

@media screen and (max-width: 767.98px) {
  .skills {
    padding-top: 0;
    flex-direction: column;
  }
  .skills-progress {
    flex-basis: 150px;
  }
}
@media screen and (max-width: 575.98px) {
  .skills-progress {
    flex-basis: 120px;
  }
}

/* Services
=========== */
.services {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 27px;
}

.item {
  display: flex;
  flex: 1 1 370px;
  gap: 35px;
}

.item__icon {
  height: 55px;
  width: 50px;
}

.item__info {
  max-width: 450px;
}

.item__title {
  font-family: "Raleway", sans-serif;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.4;
  letter-spacing: 4.29px;
  text-transform: uppercase;
  color: #333333;

  margin-bottom: 14px;
}

.item__description {
  color: #777777;
}
@media screen and (max-width: 767.98px) {
  .item__icon {
    transform: scale(1.2);
    align-self: center;
  }

  .item__info {
    max-width: none;
  }
}

/* Vision
========= */
.vision {
  display: flex;
  background-color: #f6f8fa;
}

.vision__inner {
  padding-top: calc(1.5rem + 4.75 * (100vw - 20rem) / 70);
  padding-bottom: calc(1.5rem + 9.75 * (100vw - 20rem) / 70);
}

.vision__title {
  margin-bottom: calc(1.5rem + 3.8 * (100vw - 20rem) / 70);
}

.vision__image {
  max-width: 100%;
}

.vision__container {
  padding: 0 0.95rem;
}

.vision__text--paragraph:first-child {
  margin-bottom: 1.56rem;
}

@media screen and (max-width: 767.98px) {
  .vision {
    flex-direction: column-reverse;
  }

  .vision__image-block {
    margin: 0 auto;
    padding: 0 0.95rem;
  }
}

@media screen and (min-width: 768px) {
  .vision {
    overflow: hidden;
  }

  .vision__image-block {
    flex: 0 0 50%;
    position: relative;
  }

  .vision__image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .vision__content {
    flex: 0 0 100%;
    transform: translateX(-50%);
  }

  .vision__inner {
    width: 50%;
    margin-left: auto;
    padding-left: calc(2rem + 6.125 * (100vw - 48rem) / 42);
  }
}

@media screen and (min-width: 1440px) {
  .vision__inner {
    padding-left: 8.125rem;
  }
}

/* Portfolio 
============ */
.portfolio {
  padding: 8.75rem 0.75rem 0;
}

.portfolio__header {
  padding: 0 0 6.25rem;
}

.portfolio__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.portfolio__menu {
  font-weight: 600;
  line-height: 2;
  letter-spacing: 2px;
}

.gallery {
  margin-bottom: 4.375rem;
  column-gap: 1.25rem;
  line-height: 0;
}

.block__inner {
  position: relative;
  margin-bottom: 1.25rem;
}

.block__inner::after {
  content: "";
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 5;

  background-color: #242121;
  opacity: 0;
  border: 12px solid rgba(255, 255, 255, 0);
}

.block__inner:hover.block__inner::after {
  transition: opacity, border-color 0.2s linear;
  opacity: 0.8;
  border-color: rgba(255, 255, 255, 0.15);
}

.block__image {
  width: 100%;
}

.block__description {
  position: absolute;
  width: 100%;
  left: 50%;
  top: 50%;
  z-index: 20;
  transform: translate(-50%, -50%);
  text-align: center;
  text-transform: uppercase;

  font-family: "Open Sans", sans-serif;
  color: #ffffff;
  opacity: 0;
}

.block__inner:hover .block__description {
  transition: opacity 0.2s linear;
  opacity: 1;
}

.block__title {
  font-size: 14px;
  font-weight: 600;
  line-height: 1;
  letter-spacing: 1.4px;
  margin-bottom: 10px;
}

.block__subtitle {
  font-size: 12px;
  font-weight: 300;
  line-height: 1.25;
  letter-spacing: 1px;
}

.portfolio__more {
  padding: 2.625rem 0;
  text-align: center;
  background-color: #f6f8fa;
}

.portfolio__more-link {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  line-height: 1.2;
  color: #242121;
  font-weight: 700;
  letter-spacing: 1.2px;
}

.portfolio__more-link:hover {
  color: #3f3b3b;
}
@media screen and (min-width: 480px) {
  .gallery {
    column-count: 2;
  }
}

@media screen and (min-width: 768px) {
  .gallery {
    column-count: 3;
  }
}

@media screen and (min-width: 992px) {
  .gallery {
    column-count: 4;
  }
}

@media screen and (max-width: 991.98px) {
  .portfolio {
    position: relative;
    padding: 4rem 0.95rem 0;
  }

  .portfolio__header {
    padding-bottom: 3rem;
  }

  .portfolio__menu {
    top: 0;
    left: -100%;
  }

  .portfolio__menu-controls:checked ~ .portfolio__menu {
    transform: translateX(100%);
  }

  .gallery {
    gap: 0.5rem;
  }
}

@media screen and (max-width: 767.98px) {
  .gallery {
    margin-bottom: 2.5rem;
  }

  .portfolio__more {
    padding: 1.25rem 0;
  }
}
@media screen and (max-width: 479.98px) {
  .portfolio {
    padding: 2.5rem 0.95rem 0;
  }

  .portfolio__header {
    padding-bottom: 2rem;
  }
}

/* Testimonial
============== */
.testimonial {
  padding: 8rem 0 9.375rem;
  max-width: 650px;
  margin: 0 auto;

  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  text-align: center;
  font-style: italic;
}

.testimonial__quotation {
  font-size: 18px;
  line-height: 2;
  color: #242121;

  display: block;
  margin-bottom: 3.125rem;
}

.testimonial__author {
  font-size: 14px;
  font-style: italic;
  line-height: 2.285;
  color: #9e9e9e;
}

@media screen and (max-width: 991.98px) {
  .testimonial {
    padding: 4rem 0.95rem 4.5rem;
  }
  .testimonial__quotation {
    margin-bottom: 1.5rem;
  }
}

@media screen and (max-width: 767.98px) {
  .testimonial {
    padding-bottom: 2.5rem;
  }
  .testimonial__quotation {
    font-size: 16px;
  }
}

/* Video-block
============== */
.video-block {
  max-width: 100%;
  padding: 0 15px;
}

.video-block__video {
  width: 100%;
}

/* Facts
======== */
.facts__container {
  padding: 10.3rem 0.95rem;
  display: flex;
  justify-content: space-around;
}

.facts__property {
  text-align: center;
}
.facts__number {
  display: block;
  font-family: "Montserrat", sans-serif;
  font-size: 60px;
  font-weight: 700;
  line-height: 1.21;
  color: #242121;
}
.facts__name {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.35;
  color: #00b2a0;
}
@media screen and (max-width: 991.98px) {
  .facts__container {
    padding: 5rem 0.95rem;
  }
}
@media screen and (max-width: 767.98px) {
  .facts__number {
    font-size: 2rem;
  }
}
@media screen and (max-width: 479.98px) {
  .facts__container {
    padding: 2.5rem 0.95rem;
    flex-wrap: wrap;
    row-gap: 0.95rem;
  }

  .facts__property {
    flex: 1 1 50%;
  }
}

/* Featured */
.featured {
  background-color: #f6f8fa;
  width: 100%;
  display: flex;
  align-items: center;
  gap: 6.25rem;
}

.featured__controls {
  width: 35px;

  flex-shrink: 0;
}

.controls__prev {
  transform: translateX(40px);
}
.controls__next {
  transform: rotate(180deg) translateX(40px);
}

.controls__next-image,
.controls__prev-image {
  width: 100%;
}

.featured__container {
  overflow: hidden;
  position: relative;
  padding: 19.375rem 0 7.125rem;
}

.featured__input {
  display: none;
}

.featured__select {
  display: inline-block;
  transform: translateY(50%);
  height: 6px;
  width: 6px;

  cursor: pointer;

  background-color: #242121;
  opacity: 0.4;
  border-radius: 50%;
}

#page-1:checked ~ .featured__slider {
  transform: translateX(0);
}

#page-2:checked ~ .featured__slider {
  transform: translateX(-100vw);
}

#page-3:checked ~ .featured__slider {
  transform: translateX(-200vw);
}

#page-4:checked ~ .featured__slider {
  transform: translateX(-300vw);
}

#page-5:checked ~ .featured__slider {
  transform: translateX(-400vw);
}

#page-6:checked ~ .featured__slider {
  transform: translateX(-500vw);
}

#page-1:checked ~ .controls > [for="page-1"],
#page-2:checked ~ .controls > [for="page-2"],
#page-3:checked ~ .controls > [for="page-3"],
#page-4:checked ~ .controls > [for="page-4"],
#page-5:checked ~ .controls > [for="page-5"],
#page-6:checked ~ .controls > [for="page-6"] {
  height: 10px;
  width: 10px;
  opacity: 1;
}

/* ===Slider=== */
.featured__slider {
  position: relative;
  top: 0;
  left: 0;
  display: flex;
  margin-bottom: 12.5rem;
  width: 600vw;
  transition: transform 1s linear;
}

.slider__page {
  flex-basis: 100vw;
}

.page__content {
  max-width: 42.5rem;
  overflow: hidden;
}

.page__title {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 40px;
  line-height: 1.3;
  color: #242121;
  white-space: nowrap;

  margin-bottom: 2rem;
}

.page__description {
  max-width: 35rem;
  color: #777777;
}
@media screen and (max-width: 991.98px) {
  .featured {
    gap: 3rem;
  }

  .featured__container {
    padding: 10rem 0 3.5rem;
  }
  .featured__slider {
    margin-bottom: 6rem;
  }

  .page__content {
    overflow: visible;
    max-width: none;
  }

  .page__title {
    font-size: 25px;
  }
}
@media screen and (max-width: 767.98px) {
  .featured {
    gap: 1.5rem;
  }
  .featured__controls {
    width: 25px;
  }

  .controls__prev {
    transform: translateX(1rem);
  }
  .controls__next {
    transform: rotate(180deg) translateX(1rem);
  }
  .page__description {
    max-width: 70vw;
  }
}

@media screen and (max-width: 575.98px) {
  .featured__container {
    padding: 5rem 0 1.5rem;
  }

  .featured__slider {
    margin-bottom: 3rem;
  }

  .page__title {
    font-size: 20px;
  }
}
@media screen and (max-width: 479.98px) {
  .featured {
    gap: 0.75rem;
  }

  .featured__controls {
    width: 20px;
  }
  .page__title {
    font-size: 16px;
  }
}

/* Our-team
=========== */
.our-team {
  font-family: "Montserrat", sans-serif;
}

.our-team__container {
  padding: 7.5rem 0.75rem 10.3125rem;
}

.our-team__title {
  margin-bottom: 7.5rem;
}

.our-team__content {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 1.875rem;
}

.profile:hover {
  transition: transform 0.2s linear;
  transform: scale(1.05);
}

.profile__picture {
  width: 100%;
}

.profile__description {
  margin-top: 1.875rem;
  text-align: center;
}

.profile__name {
  display: block;
  margin-bottom: 12px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.21;
  color: #333333;
}

.profile__specialization {
  display: block;

  color: #c2c2c2;
  font-family: "Open Sans", sans-serif;
  font-size: 12px;
  font-weight: 300;
  line-height: 1.25;
}
@media screen and (max-width: 1200px) {
  .profile {
    width: calc(50% - 1.875rem);
  }
}
@media screen and (max-width: 991.98px) {
  .our-team__container {
    padding: 3.5rem 1.5rem 5rem;
  }

  .our-team__title {
    margin-bottom: 3.5rem;
  }

  .profile:hover {
    transform: none;
  }
}

@media screen and (max-width: 575.98px) {
  .profile {
    width: 100%;
  }
}
@media screen and (max-width: 479.98px) {
  .our-team__container {
    padding: 1.5rem 1.5rem 2.5rem;
  }

  .our-team__title {
    margin-bottom: 1.5rem;
  }
}

/* Pricing and plans
==================== */
.pricing-plans {
  padding: 0 0.95rem;
  padding-top: calc(32px + 112 * (100vw - 576px) / 865);
  padding-bottom: calc(32px + 128 * (100vw - 576px) / 865);

  background: #f6f8fa;
}

.pricing-plans__title {
  margin-bottom: 5.625rem;
}

.pricing-plans__content {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.sentence {
  background-color: #ffffff;
  color: #242121;
  font-family: "Open Sans", sans-serif;

  width: calc(33.333% - 20px);
}

.sentence__version {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.375;

  margin-bottom: 8px;
}

.sentence__conditions {
  text-align: center;
  font-weight: 300;
}

.sentence__title-supscript {
  font-size: 40px;
  line-height: 1.35;
}

.sentence__title {
  font-size: 80px;
  line-height: 1.5;

  margin-bottom: 50px;
}

.sentence__title-subscript {
  font-size: 20px;
  line-height: 1.35;
  vertical-align: baseline;
}

.sentence__terms {
  display: block;

  font-size: 16px;
  line-height: 1.375;
}
.sentence__terms:not(:last-child) {
  margin-bottom: 30px;
}
.sentence__terms:last-child {
  margin-bottom: 70px;
}

.sentence__choose {
  display: block;
  margin-bottom: 55px;

  text-align: center;
  text-transform: uppercase;

  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  line-height: 1.2;
  font-weight: 700;
  letter-spacing: 1.2px;

  cursor: pointer;
}
.sentence__choose:hover {
  color: #524b4b;
}

@media screen and (max-width: 991.98px) {
  .pricing-plans__title {
    margin-bottom: 2.5rem;
  }
  .sentence {
    width: calc(50% - 1.25rem);
  }
}
@media screen and (max-width: 575.98px) {
  .sentence {
    width: 100%;
  }
}

/* Contact
========== */
.contact {
  font-family: "Open Sans", sans-serif;
  display: flex;
}
.contact__container {
  padding: 9rem 0.95rem 10rem;
  margin-right: 6.25rem;
}
.contact__title {
  margin-bottom: 6rem;
}

.form {
  width: 570px;
}

.form__input {
  display: block;
  height: 40px;
  width: 100%;
  border-bottom: 2px solid #373a39;

  font-size: 12px;
  line-height: 1.66;
}

.form__input-name {
  margin-bottom: 2rem;
}

.form__input-email {
  margin-bottom: 3.25rem;
}

.form__input-message {
  height: 9.5rem;
  resize: none;

  margin-bottom: 2.5rem;
}

.form__input::placeholder {
  font-size: 12px;
  font-weight: 400;
  line-height: 1.66;
  letter-spacing: 3.7px;
  text-transform: uppercase;
  color: #b8b8b8;
}

.form__button {
  padding: 1rem 3.625rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 11px;
  text-transform: uppercase;
  line-height: 1.18;
  letter-spacing: 2px;
  color: #ffffff;

  cursor: pointer;

  background-color: #242121;
}
.form__button:active {
  background-color: #312d2d;
}

.contact__frame {
  flex: 0 1 44%;
  background-color: #d8d8d8;
}
@media screen and (max-width: 1400px) {
  .contact__container {
    margin-right: 2.5rem;
  }
}
@media screen and (max-width: 1200px) {
  .contact__container {
    margin-right: 1rem;
  }
}
@media screen and (max-width: 991.98px) {
  .contact__container {
    padding: 4rem 0.95rem 4.5rem;
    margin-right: 2.5rem;
  }
  .contact__title {
    margin-bottom: 3rem;
  }

  .form {
    max-width: 320px;
  }
}
@media screen and (max-width: 767.98px) {
  .contact {
    flex-direction: column;
  }

  .contact__container {
    padding: 4rem 2rem 4.5rem;
    margin-right: auto;
    width: 100%;
  }

  .form {
    max-width: none;
    width: 100%;
  }

  .contact__frame {
    flex: 0 0 300px;
  }
}
/* Footer
========= */
footer {
  text-align: center;
}

.footer__top {
  padding: 6.875rem 0 3.75rem;
  background-color: #373a39;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

.footer__logo {
  display: inline-block;
  position: relative;

  margin-bottom: 6.25rem;
}

.footer__logo::after {
  content: "";
  display: block;
  position: absolute;
  left: 50%;
  bottom: 0;

  width: 9.375rem;

  border: 1px solid #fcbb08;
  transform: translate(-50%, 24px);
}

.footer-menu-input,
.footer-menu-image,
.footer-menu-button span {
  display: none;
}
.footer-menu-image {
  transition: transform 0.2s linear;
}

.footer-menu__link {
  font-family: "Montserrat", sans-serif;

  color: #ffffff;
  font-weight: 300;
  font-size: 12px;
  line-height: 1.25;
  letter-spacing: 4px;
}

.footer-menu__link:hover {
  opacity: 0.1;
  transition: opacity 0.2s linear;
}

.footer__contacts {
  color: #a8a8a8;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 2.85;

  margin-top: 4rem;
}

.footer__contacts a {
  display: block;
  opacity: inherit;
}
.footer__contacts a:hover {
  transition: opacity 0.2s linear;
  opacity: 1;
}
.footer__contacts a:active {
  color: #ffffff;
}

.footer__tel,
.footer__email {
  color: #a8a8a8;
}

.footer__email {
  margin-bottom: 3.5rem;
}

.footer__bottom {
  background-color: #2a2c2b;

  padding: 2.625rem 0;
  font-family: "Open Sans", sans-serif;
  font-size: 12px;
  line-height: 1.33;
  color: #cccccc;
}

/* LAPTOP */
@media screen and (max-width: 991.98px) {
  .footer-menu-image,
  .footer-menu-button span {
    display: inline-block;
  }

  .footer-menu-input ~ label {
    transition: height 0.2s linear;
    height: 22px;
    overflow: hidden;
  }

  .footer-menu-input:checked ~ label .footer-menu-image {
    transform: rotateX(180deg);
  }

  .footer-menu-input:checked ~ label {
    height: 274px;
  }

  .footer-menu-button span {
    text-transform: uppercase;
    color: #cccccc;
  }

  .footer__menu {
    position: relative;
  }

  footer .menu__list {
    background-color: transparent;
    height: inherit;
  }
}
/* TABLET */
@media screen and (max-width: 767.98px) {
  .footer__top {
    padding: 3rem 0 1.5rem;
  }

  .footer__logo {
    margin-bottom: 2.5rem;
  }

  .footer__contacts {
    margin-top: 1.5rem;
  }

  .footer__email {
    margin-bottom: 1.5rem;
  }

  .footer__bottom {
    padding: 1rem 0;
  }
}
